#imagen5 {
  height: 300px;
  width: 300px;
}

#imagen6 {
  height: 300px;
  width: 300px;
}

#imagen7 {
  height: 300px;
  width: 300px;
}

#imagen8 {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 2880px) {

}

@media only screen and (max-width: 768px) {



  #img {
    height: 250px;
    width: 200px;
  }

}

@media only screen and (max-width: 414px) {


  #img {
    height: 150px;
    width: 125px;
  }

}



@media only screen and (max-width: 375px) {


  #img {
    height: 125px;
    width: 125px;
  }

}
