#camarita{
    height: 300px;
    border-radius: 50%;
    
}

#section{
    background:black;
    height: 200px;
}


#section p{
    background:black;
    color: white;
    height: 200px;
}

#section-2{
    background: black;
    color: white;
}











  
  


