#promocion{
  background: black;
}

@media only screen and (max-width: 2880px) {
    #section {
      height: 120vh;
    }
    #video iframe{
     height: 400px;
     width: 400px;
    }
  }
  
  @media only screen and (max-width: 1440px) {
    #section {
      height: 120vh;
    }
    #video iframe{
      height: 400px;
      width: 400px;
     }
  }
  
  @media only screen and (max-width: 1024px) {
    #section {
      height: 53vh;
    }
    #video iframe{
      height: 360px;
      width: 400px;
     }
  }

  @media only screen and (max-width: 812px) {
    #section {
      height: 200vh;
    }
    #video iframe{
      height: 360px;
      width: 400px;
     }
  }




  
  @media only screen and (max-width: 768px) {
    #section {
      height: 76vh;
    }
    #video iframe{
      height: 380px;
      width: 350px;
     }
  }



  @media only screen and (max-width: 736px) {
    #section {
      height: 190vh;
    }
    #video iframe{
      height: 350;
      width: 500px;
     }
  }



  
  @media only screen and (max-width: 414px) {
    #section {
      height: 105vh;
    }
    #video iframe{
      height: 350px;
      width: 355px;
     }


    #camara{
        width: 140px;
        height: 140px;
    }
  }



    
  @media only screen and (max-width: 375px) {
    #section {
      height: 120vh;
    }

    #video iframe{
      height: 350px;
      width: 305px;
     }


    #camara{
        width: 140px;
        height: 140px;
    }
  }
  
  

  
  